


.fractions {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    117deg,
    rgb(16, 16, 16) 24%,
    rgba(37, 37, 37, 1) 100%,
    rgba(70, 70, 70, 1) 100%
  );
}
.factions__inner {
  padding: 110px 0;

}
.fractions__title {
  text-align: center;

}
.factions__title-h2{
  font-size: 80px;
}
.title-h2--yellow{
  color: #f8c419;
}
.fraction__list {
  padding-top: 50px;
}
.factions__item {
  padding-top: 40px;
  display: flex;
  gap: 40px;
}
.factions__item--reverse {
  flex-direction: row-reverse;
}
.factions__img-wrapper {
  width: 1024px;
  object-fit: cover;
}
.factions__img {
  width: 100%;
}
.factions__description {
  width: 566px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.title__h4--uppercase {
  text-transform: uppercase;
}
.factions__text {
  font-size: 19px;
}
