


.fractions {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    117deg,
    rgb(16, 16, 16) 24%,
    rgba(37, 37, 37, 1) 100%,
    rgba(70, 70, 70, 1) 100%
  );
}
.fractions__inner {
  padding: 110px 0;

}
.fractions__title {
  text-align: center;

}
.fractions__title-h2{
  font-size: 80px;
}
.title-h2--yellow{
  color: #f8c419;
}
.fraction__list {
  padding-top: 50px;
}
.fractions__item {
  padding-top: 40px;
  display: flex;
  gap: 40px;
}
.fractions__item--reverse {
  flex-direction: row-reverse;
}
.fractions__img-wrapper {
  width: 1024px;
  object-fit: cover;
}
.fractions__img {
  width: 100%;
}
.fractions__description {
  width: 566px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.title__h4--uppercase {
  text-transform: uppercase;
}
.fractions__text {
  font-size: 19px;
}


@media(max-width:1400px){
  .fractions__img-wrapper{
    width: 1000px;
  }
  h2.fractions-h2{
    font-size: 30px;
  }
  h4.fractions-h4{
    font-size: 20px;
  }
  .fractions__text{
    font-size: 16px;
  }
}
@media(max-width:1324px){
  .fractions__item--reverse{
    flex-direction: row;
  }
  .fraction__list{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:40px;
  }
  .fractions__item{
    position: relative;
    padding-top: 0px;
  }
  .fractions__description{
    position: absolute;
    top: 40px;
    left: 20px;
  }

  .fractions__img-wrapper::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #00000095;
  }
  
}
@media(max-width:1054px){
  .fractions__img-wrapper{
    width: 700px;
  }
}
@media(max-width:750px){
  .fractions__description{
    position: absolute;
    top: 10px;
    left: 15px;
    max-width: 400px;
  }
  .fractions__img-wrapper{
    /* width: 592px; */
    object-fit: cover;

    /* width: 430px; */
  }
  .fractions__img{
    height: 500px;
  }
  h2.fractions-h2{
    font-size: 20px;
  }
  h4.fractions-h4{
    font-size: 18px;
  }
  .fractions__img-wrapper::before {
    background-color: #0000006b;
  }
}
@media(max-width:600px){
  .fractions__inner{
    padding: 70px 0;
  }
  .fractions__title h2.fractions__title-h2{
    font-size: 30px;
  }
}
@media(max-width:475px){
  .fractions__text{
    font-size: 13px;
  }
  .fractions__img{
    height: 335px;
  }
  .fractions__img-wrapper{


    width: 350px;
  }
  .fractions__description{
    position: absolute;
    top: 10px;
    left: 10px;
    max-width: 335px;
    gap:1px
  }
}