/* preview */

.preview {
  position: relative;
  background-image: url(../img/preview/preview-bg.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.preview::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #00000095;
}

.preview__inner {
  position: relative;
  padding: 100px 0;
  text-align: center;
}
.title-h2 {
}
.title-h2--uppercase {
}
.subtitle {
  font-size: 20px;
  font-weight: 300;
  line-height: 1.3;
}
.subtitle--pt {
  padding-top: 25px;
}

/* state */

.state {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    117deg,
    rgba(0, 0, 0, 1) 24%,
    rgba(37, 37, 37, 1) 65%,
    rgba(70, 70, 70, 1) 100%
  );
}
.state__inner {
  padding: 110px 0;
}
.state__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.state__item {
  display: flex;
  justify-content: space-between;
  border-top: 2px solid #f8c419;
  border-left: 2px solid #f8c419;
  border-bottom: 2px solid #f8c419;
  border-radius: 20px;
  padding: 50px 30px 50px 45px;
}
.title-h5 {
  font-size: 60px;
  text-transform: uppercase;
}
.title-h5 span {
  color: #f8c419;
}

.state__link {
  padding: 20px 20px;
  background-color: #f8c419;
  text-transform: uppercase;
  font-size: 25px;
  font-weight: 500;
  transition: all 0.2s ease;
}
.state__link:hover {
  background-color: #141313;
  color: #f8c419;
}
