html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: inherit;
}
.container {
  max-width: 1650px;
  margin: 0 auto;
  padding: 0 10px;
}
.n{
  display: none;
}

body {
  background-color: #141313;
  font-family: 'Roboto', sans-serif;
  /* font-family: "Lobster", sans-serif; */
  font-size: 16px;
  color: #f0f0f0;
}
html,
body {
  height: 100%;
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
.main {
  flex-grow: 1;
}

/* header */
.header {
  background-color: rgb(0, 0, 0);
}

.header__inner {
  padding: 30px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.logo__img {
  width: 150px;
}
.nav__list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-size: 20px;
  text-transform: uppercase;
}
.nav__item {
  font-weight: 600;
  transition: color 0.2s ease-in;
}
.nav__item:hover {
  color: #f8c419;
}
.social__list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.social__svg {
  width: 45px;
  color: #f0f0f0;
  transition: color 0.2s ease-in;
}
.social__svg.discord:hover {
  color: #1D23BE;
}
.social__svg.youtube:hover {
  color: #FF0000;
}










/* Добавляет класс active для анимации иконки бургера */
.burger.active span{
  transform: scale(0);/*убирает среднюю полоску в ноль*/
}
.burger.active::before{
  top: 50%;
  transform: rotate(-45deg) translate(0, -50%)
}
.burger.active::after{
  bottom: 50%;
  transform: rotate(45deg) translate(0, 50%)
}



.open{
  display: flex ;
}
@keyframes burgerAnimation {
  from {opacity: 0;}
  to {opacity: 1;}
}


















/* home */

.home {
  position: relative;
  background-image: url(.././img/home/home-bg2.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.home::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #0000006b;
}
.home__inner {
  position: relative;
  padding: 100px 0 120px;
}
.title-h2 {
  font-size: 50px;
}
.title-h1 span {
  color: #f8c419;
}
.title-h1 {
  font-size: 250px;
}
.home-subtitle__wrapper {
  padding: 20px 0 20px 3px;
}
.home-subtitle {
  font-size: 25px;
  border-left: 10px solid #f8c419;
  padding-left: 20px;
}
.home__link-wrapper {
  padding-top: 20px;
  padding-left: 3px;
}
.home__link {
  padding: 20px 50px;
  background-color: #f8c419;
  text-transform: uppercase;
  font-size: 35px;
  font-weight: 500;
  transition: all 0.2s ease;
}
.home__link:hover {
  background-color: #141313;
  color: #f8c419;
}

/* present */

.present {
  background-color: #141313;
}
.present__inner {
  display: flex;
  gap: 20px;
  padding: 100px 0 100px;
}
.present__img-wrapper {
  max-width: 800px;
}
.present__img {
  border-radius: 20px;
  width: 100%;
}

.present__description {
  text-align: start;
}
.title-h3 {
  font-size: 75px;
}
.title-h2--uppercase {
  text-transform: uppercase;
}
.title-h3--yellow {
  text-transform: uppercase;
  color: #f8c419;
}
.present__text {
  padding-top: 40px;
  font-size: 30px;
  font-weight: 500;
  color: #f0f0f0;
  line-height: 1.5;
  text-align: start;
  max-width: 1116px;
}

/* step */

.step {
  /* background: #000000;
  background: linear-gradient(0deg, #000000 38%, #141313 100%); */
  position: relative;
  background: url(../img/step/step-bg.jpg) center center / cover no-repeat;
  width: 100%;
}
.step::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #171717a5;
}
.step__inner {
  position: relative;
  padding: 195px 0 195px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.title-h2--uppercase {
  text-transform: uppercase;
}

.title-h2--pt {
  padding-top: 25px;
}
.step__list {
  padding-top: 80px;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-wrap: wrap;
  gap: 30px;
  margin: 0 auto;
}

.step__card {
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 25px;
  /* padding: 25px 0 ; */
  max-width: 500px;
}

.title-h4--uppercase {
  text-transform: uppercase;
}
.title-h4--yellow {
  color: #f8c419;
}

.step__card-text {
  font-size: 20px;
  font-weight: 500;
  color: #f0f0f0;
  line-height: 1.5;
  text-align: start;
}
.step__card-link {
  color: #f8c419;
}

.step__card-btn {
  padding: 20px 20px;
  background-color: #f8c419;
  text-transform: uppercase;
  font-size: 25px;
  font-weight: 500;
  transition: all 0.2s ease;
}
.step__card-btn:hover {
  background-color: #141313;
  color: #f8c419;
}

/* adwance */

.adwance {
  background: #000000;
  background: linear-gradient(0deg, #000000 38%, #141313 100%);
}

.awance__inner {

  padding: 110px 15px;
}
.adwance__list {
  
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 25px;
}
.adwance__item {

  width: 650px;
  max-height: 350px;
  background-color:#f8c419;
  padding: 15px 0;
}
.adwance__item--bg {
  background-color:#141313;
}
.adwance__item-wrapper1 {
  padding: 50px 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  
}
.adwance__item-wrapper2 {

  padding: 50px 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  color:#000000;
}
.adwance__icon{
width: 60px;

}
.book{

}
.chat{

}
.title__h4 {
}
.title-h4--uppercase {
}
.adwance__text {
}
.adwance__btn1 {
  padding: 20px 20px;
  background-color: #f8c419;
  text-transform: uppercase;
  
  color:#000000;
  font-size: 25px;
  font-weight: 500;
  transition: all 0.2s ease;
}
.adwance__btn1:hover {
  background-color: #000000;
  color: #f8c419;
}
.adwance__btn2 {
  padding: 20px 20px;
  background-color: #141313;
  color: #f0f0f0;
  text-transform: uppercase;
  font-size: 25px;
  font-weight: 500;
  transition: all 0.2s ease;
}
.adwance__btn2:hover {
  /* background-color: #2c2c2c;
  color: #f8c419; */
  background-color: #faf607;
  color: #000000;
}

/* footer */
.footer {
  background-color: rgb(0, 0, 0);
}
.footer__inner {
  padding: 30px 0;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.delimiter {
  margin-top: 10px;
  width: 90px;
  height: 7px;
  background-color: #f8c419;
}

.title__h4 {
  font-size: 30px;
  font-weight: 500;
}
.document__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 30px;
}
.document__item {
  transition: color 0.2s ease-in;
}
.document__item:hover {
  color: #f8c419;
}

.social__list {
  display: flex;
  flex-direction: column;
  align-items: start;


}
.footer__social--mt {
  margin-top: 30px;
}
.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.footer__description {
  max-width: 400px;
}

.footer__bottom {
  background-color: #141313;
  padding: 20px 0;
  border-radius: 15px 15px 0 0;
}
.footer__copyright {
  text-align: center;
}





/* mobil navi */
.burger {
  display: none;/*flex*/ /*замена значения flex на none чтоб скрыть иконку*/ 
  position: relative;
  z-index: 50;
  align-items: center;
  justify-content: flex-end;
  width: 30px;
  height: 18px;
}
.burger span{
  height: 2px;
  width: 80%;
  transform: scale(1);
  background-color: #faf6f2;
}
.burger::before, .burger::after{
  content: '';
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: #faf6f2;
  transition: all 0.3s ease 0s;
}
.burger::before{
  top: 0;
}
.burger::after{
  bottom: 0;
}

/* Добавляем класс active для анимации иконки бургера */
.burger.active span{
  transform: scale(0);/*убирает среднюю полоску в ноль*/
}
.burger.active::before{
  top: 50%;
  transform: rotate(-45deg) translate(0, -50%)
}
.burger.active::after{
  bottom: 50%;
  transform: rotate(45deg) translate(0, 50%)
}





/* При разрешении экрана 900px и ниже, выводим на экран иконку бургера */
@media(max-width:1300px) {
  .burger{
    display: flex;
  }
  .nav{
    display: none;/*flex*/ /*замена значения flex на none чтоб отобразить меню при клике*/ 
    flex-direction: column;
    text-align: start;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 50;
    overflow-y: auto;
    padding: 50px 40px;
    background-color: black;
    animation: burgerAnimation 0.4s;    
  }
  .nav ul{
    flex-direction: column;
    row-gap: 30px;
  }
}
.open{
  display: flex !important;
}
@keyframes burgerAnimation {
  from {opacity: 0;}
  to {opacity: 1;}
}
@media(max-width:1619px){
  .present__inner{
    align-items: center;
  }
  .present__text{
    font-size: 21px;
  }
  .present-h2{
    font-size: 40px;
  }
  
}
@media(max-width:1150px){
  .present__text{
    font-size: 16px;
    padding-top: 0;
  }
  .present-h2{
    font-size: 30px;
  }
}
@media(max-width:1049px){
  .step__inner{
    padding: 90px 0 90px;
  }
  .step__list{
    padding-top: 30px;
    gap: 70px;
  }
  .step__card{
    gap:5px;
  }
  .step__card-btn{
    font-size: 20px;
  }
}
@media(max-width:980px){
  .footer__inner{
    flex-wrap: wrap;
  }
  .footer__inner{
    flex-direction: column;
    align-items:center;
    gap: 80px;
  }
}
@media(max-width:950px){
  .title-h2 {
    font-size: 40px;
  }
  .title-h1 {
    font-size: 196px;
  }
  .home__link{
    font-size: 25px;
  }

}

@media(max-width:750px){
  .title-h2 {
    font-size: 30px;
  }
  .title-h1 {
    font-size: 155px;
  }
  .home-subtitle{
    font-size: 18px;
  }
  .home__link{
    font-size: 20px;
    padding: 20px 30px;
  }
  .present__inner{
    flex-direction: column;
  }
  .adwance-h4{
    font-size: 20px;
  }
  .adwance__btn1, .adwance__btn2{
    font-size: 16px;
  }
}
@media(max-width:600px){
  .title-h2 {
    font-size: 21px;
  }
  .step-h2 {
    font-size: 30px;
  }
  .title-h1 {
    font-size: 110px;
  }
  .present-h2{
    font-size: 40px;
  }
  .adwance__text {
    font-size: 16px;
  }
  .adwance__btn1, .adwance__btn2{
    font-size: 16px;
  }
  .adwance__item-wrapper1, .adwance__item-wrapper2{
    padding: 10px;
  }
  .adwance__item{
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media(max-width:460px){
  .adwance__item-wrapper1 .adwance__text {
  max-width: 210px;
  }
}
@media (max-width:449px){
}
@media(max-width:430px){
  .title-h2 {
    font-size: 16px;
  }
  .step-h2 {
    font-size: 30px;
  }
  .present-h2{
    font-size: 40px;
  }
  .title-h1 {
    font-size: 80px;
  }
  .home__inner{
    padding: 120px 0 120px;
  }
}
@media(max-width:400px){
  .logo__img {
    width: 100px;
  }

  .social__svg{
    width: 35px;
  }
  .description__text{
    padding: 0 25px;
  }
}



















@media(max-width:900px){}
